body{
    background-color: rgb(85, 19, 126);
    color: rgb(252, 249, 249);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#clock {
    font-size: 48px;
    background-color: rgb(185, 144, 19);
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
}